<%= form_for [post, Comment.new], remote: true do |f| %>
	<div class="field">
		<%= f.text_area :text_comment, class: 'form-control', placeholder: "Compose new comment...", cols: 50 %>
	</div>
	<%= f.submit "Send", class: "btn btn-default pull-right" %>
<%end%>
