<%= form_for [commentable, comment] do |f| %>
	<div class="field">
		<%= f.text_area :comment_text, class: 'form-control', placeholder: "Compose new Ñomment...", cols: 20, rows: 1 %>
	</div>
	<%= f.submit "Comment", class: "btn-comment pull-right"%>
<%end%>
