<div class="sing-in" style="width: 600px;">
  <h2 align="center" class="main-account-text">ACCOUNT</h2>
  <%= form_for(User.new, url: signup_path) do |f| %>
    <table class="table-create" align="center">
      <tr class="tr-create">
        <td class="td-create" colspan="2">
          <div class="input">
            <label for="user_email">Email</label>
            <input name="user[email]" id="user_email">
            <span class="spin"></span>
          </div>
        </td>
      </tr>
      <tr class="tr-create">  
        <td class="td-create" colspan="2">
          <div class="input">
            <label for="pws">Password</label>
            <input type="password" name="user[password]" id="pws">
            <span class="spin"></span>
          </div>
        </td>
      </tr>
      <tr class="tr-create">
        <td class="td-create">
          <%= link_to "Create account", signup_path, class: 'main-link-text' %>       
        </td>
        <td class="td-create" align="right">
          <%= f.submit "Sing in", class: "btn-sing" %>        
        </td>
      </tr>
    </table>
  <% end %>        
</div>