<% if logged_admin? %>
<% else %>
<div style="width: 100%;">
  <div class="card_users">
    <% @users.each do |i|%>
      <%= render "card_user", user: i%>
    <% end %>
  </div>
  <div class="card_current_user">
  </div>
</div>
<% end %>