<div class="well">
	<div class="row" id="last-article">
		<div class="col-sm-12">
			<div>
				<%= image_tag article.photo_article.url, class: "imaa" %>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<h2 id="last-article-title"><%= article.title_article %></h2>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12" id="last-article-description">
			<p>
				<% if article.created_at %>
					<span>Published <%= time_ago_in_words(article.created_at) %> ago.</span>
				<% end %>
			</p>
			<p><%= truncate(article.text_article, length: 240) %></p>
		</div>
	</div>
</div>


<div class="row">
	
</div>