<% if logged_admin? %>
<% else %>
  <div class="container">
    <% @books.each do |book| %>
      <h4 style="color:white"><%= book.title %></h4>
      <h4 style="color:white"><%= book.id %></h4>
      <br>
    <% end %>
  </div>
<% end %>
