
  <div class="container">
    <% @books.each do |book| %>
      <h4 style="color:white"><%= book.title %></h4>
      <h4 style="color:white"><%= book.id %></h4>
      <br>
    <% end %>
  </div>
<% else %>
  <table class="home" align="center">
    <tr>
      <td><%= button_to "Log in", login_path, :class => "button", :method => :get %></td>
      <td><%= button_to "Sing in", signup_path, :class => "button", :method => :get %></td>
    </tr>
  </table>

