/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background: white;
}

/* HEADER */
.navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  margin: auto;
}
.navbar-toggle {
  z-index:3;
}

@media screen and (min-width: 320px) and (max-width: 640px) {
  a.my-brand {
    font-size: 35px;
  }

  .header-line {
    height: 5px; 
    width: 98%;
    margin-top: -10px;
  }
}

@media screen and (min-width: 640px) and (max-width: 1024px)  {
  .my-nav {
    padding-top: 15px;
  }

  a.my-brand {
    font-size: 25px;
  }

  .header-line {
    height: 6px; 
    width: 98%;
  }
  .main-link-text, .main-link-text:hover {
    font-weight: 500;
    font-size: 18px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1600px)  {
  .my-nav {
    padding-top: 15px;
  }

  a.my-brand {
    font-size: 40px;
    padding-top: 25px;
  }

  .header-line {
    height: 8px; 
    width: 98%;
  }

  .main-link-text, .main-link-text:hover {
    font-weight: 600;
    font-size: 17px;
  }

  .welcom {
    margin: 120px 10px 10px 50px;
    color: white;
    font-weight: 700;
    font-family: 'Basic';
    font-size: 75px;
  }
  
  .link-text-login {
    margin: 10px 5px 5px 5px;
  }

  .link-text-login, .link-text-login:hover {
    font-size: 16px;
  }

  .li.link-login:hover .link-text-login:hover {
    font-size: 20px;
  }

  .container-fluid-login {
    padding-left: 20px;
  }

  .brand {
    padding-left: 23%;
  }
}

@media screen and (min-width: 1600px) and (max-width: 1920px)  {
  .my-nav {
    padding-top: 20px;
  }

  a.my-brand {
    font-size: 55px;
    margin-top: 20px;
  }

  .header-line {
    height: 10px; 
    width: 98%;
  }

  .main-link-text, .main-link-text:hover {
    font-weight: 700;
    font-size: 23px;
  }
  .welcom {
    margin: 220px 10px 10px 70px;
    color: white;
    font-weight: 700;
    font-family: 'Basic';
    font-size: 75px;
  }
  
  .link-text-login {
    margin: 30px 10px 10px 10px;
  }

  .link-text-login, .link-text-login:hover {
    font-size: 23px;
  }

  .li.link-login:hover .link-text-login:hover {
    font-size: 26px;
  }

  .container-fluid-login {
    padding-left: 45px;
  }

  .brand {
    padding-left: 15%;
  }
}

.header-line {
  background-color: #1d2120; 
}

li.main-link:link, li.main-link:visited {
	color: #1d2120;
	font-weight: 500;
}

li.main-link:hover {
	text-decoration: underline;
}

a.my-brand {
	color: #1d2120;
	font-weight: 700;
	font-family: 'Ribeye Marrow';
}

.main-link-text, .main-link-text:hover {
	color: #1d2120;
  font-family: 'Basic';
}


li.main-link:hover .main-link-text:hover {
	background-color: white;
}

.navbar-header .navbar-collapse {
  text-align: center;
}

.container-login {
  width: 100%;
}

.left-half {
  background-color: #22264b;
  float: left;
  width: 38%;
  height: 100vh;
}

.right-half {
  background-color: white;
  float: left;
  width: 62%;
  height: 100vh;
}

.link-text-login, .link-text-login:hover {
  color: white;
  font-weight: 450;
  font-family: 'Basic';
}

li.link-login:hover .link-text-login:hover {
  background-color: #22264b;
  font-family: 'Basic';
}