// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h1 {
  color: white;
  padding-left: 10px;
}

.row.article {	
	background-color: #b56969;
	
	.col-sm-4 {	
		padding: 70px 80px 40px 70px;
		h5 {
			text-align: center;
			padding-top: 10px;
		}
	}
}

.article-link-text {
	color: #1d2120;
	font-weight: 700;
	font-family: 'Basic';
	font-size: 23px;
}

.article-link-text:hover {
	color: #1d2120;
	font-weight: 700;
	font-style: italic;
	text-decoration: none;
} 

h1.article {
	color: #1d2120;
	font-weight: 700;
	font-family: 'Basic';
	font-size: 60px;
	padding-top: 110px;
	padding-left: 40px;
}

.row.whats-new {
	background-color: #22264b;
	margin-top: 40px;
	margin-bottom: 40px;
	padding-bottom: 40px;
	padding-left: 280px;

	h5 { 
		padding-top: 30px;
		text-align: center; 
	}

	.book-link-text, .book-link-text:hover {
		color: white;
		font-family: 'Basic';
		font-size: 30px;
	}

	.book-link-text:hover {
		font-style: italic;
	}

	.center-image {
		margin: 0 auto;
  	width: 200px;
  	height: 310px;
	}
}

.active-users {

}



/*ADMIN*/

#wrapper {
  transition: all .4s ease 0s;
  height: 100%;
}

#sidebar-wrapper {
  margin-left: -180px;
  left: 70px;
  width: 200px;
  background: #bcd5d1;
  position: fixed;
  height: 100%;
  z-index: 10000;
  transition: all .4s ease 0s;
  width: 10%;
}

.sidebar-nav {
  display: block;
  float: left;
  width: 180px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#wrapper.active #sidebar-wrapper {
  left: 180px;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
  color: #1d2120;
}

.sidebar-nav li a {
  display: block;
  font-family: 'Basic';
  font-size: 20px;
  text-decoration: none;
  color: #1d2120;
}

.admin-link, .admin-logout {
	font-family: 'Basic';
  font-size: 18px;
  color: #1d2120;
}


.admin-link {
	padding-left: 14px;
}

.admin-link:hover {
	font-style: italic;
	text-decoration: underline;
}

.sidebar-nav li a:hover {
	color: #1d2120;
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
	color: #1d2120;
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.main-icon, .sub-icon {
	float: right;
  padding-right: 20px;
  color: #1d2120;
}

.main-icon {
	padding-top: 20px;
}

.sub-icon {
  padding-top: 10px;
}

.sub-icon-two {
	padding-left: 10px;
}