// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.hello {
	width: 100%;
	height: 100%;
  background-image: url('5.jpeg');
}

h1 {
  color: white;
  padding-left: 10px;
}

.row.article {	
	background-color: #b56969;
	
	.col-sm-4 {	
		padding: 70px 80px 40px 70px;
		h5 {
			text-align: center;
			padding-top: 10px;
		}
	}
}

.article-link-text {
	color: #1d2120;
	font-weight: 700;
	font-family: 'Basic';
	font-size: 23px;
}

.article-link-text:hover {
	color: #1d2120;
	font-weight: 700;
	font-style: italic;
	text-decoration: none;
} 

h1.article {
	color: #1d2120;
	font-weight: 700;
	font-family: 'Basic';
	font-size: 60px;
	padding-top: 110px;
	padding-left: 40px;
}

.row.whats-new {
	background-color: #22264b;
	margin-top: 40px;
	margin-bottom: 40px;
	padding-bottom: 40px;
	padding-left: 280px;

	h5 { 
		padding-top: 30px;
		text-align: center; 
	}

	.book-link-text, .book-link-text:hover {
		color: white;
		font-family: 'Basic';
		font-size: 30px;
	}

	.book-link-text:hover {
		font-style: italic;
	}

	.center-image {
		margin: 0 auto;
  	width: 200px;
  	height: 310px;
	}
}


.active-users {

}
