// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@media screen and (min-width: 320px) and (max-width: 640px) {
}

@media screen and (min-width: 640px) and (max-width: 1024px) {
}

@media screen and (min-width: 1024px) and (max-width: 1600px) {
	.imaa {
		height: 260px;
		width: 680px;
	}

	h2#last-article-title {
		padding-left: 1%;
	}

	.hr-home {
		width: 99%;
		height: 5px;
		float: right;
		background-color: black;
	}

	h2#tags {
		font-size: 20px;
	}
}

@media screen and (min-width: 1600px) and (max-width: 1920px) {
	.imaa {
		height: 420px;
		width: 1050px;
	}

	.hr-home {
		width: 91.4%;
		height: 5px;
		float: right;
		background-color: black;
	}

	h2#tags {
		font-size: 35px;
	}
}

/* ARTICLES THE HOME PAGE*/

.articles {
	float: left;
}

span.link-tag {
	font-size: 20px;
}

#last-article-description p{
	font-weight: 300;
	font-family: 'Basic';
	font-size: 17px;
}

#last-article-description {
	float: right;
}

#last-article {

}

h2#last-article-title, h2#tags {
	color: #1d2120;
	font-weight: 400;
	font-family: 'Basic';
}

h2#last-article-title {
	text-align: left;
} 

h2#tags {
 	text-align: center;
}


/*ADMIN*/

#wrapper {
  transition: all .4s ease 0s;
  height: 100%;
}

#sidebar-wrapper {
  margin-left: -180px;
  left: 70px;
  width: 200px;
  background: #bcd5d1;
  position: fixed;
  height: 100%;
  z-index: 10000;
  transition: all .4s ease 0s;
  width: 10%;
}

.sidebar-nav {
  display: block;
  float: left;
  width: 180px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#wrapper.active #sidebar-wrapper {
  left: 180px;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
  color: #1d2120;
}

.sidebar-nav li a {
  display: block;
  font-family: 'Basic';
  font-size: 20px;
  text-decoration: none;
  color: #1d2120;
}

.admin-link, .admin-logout {
	font-family: 'Basic';
  font-size: 18px;
  color: #1d2120;
}


.admin-link {
	padding-left: 14px;
}

.admin-link:hover {
	font-style: italic;
	text-decoration: underline;
}

.sidebar-nav li a:hover {
	color: #1d2120;
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
	color: #1d2120;
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  line-height: 60px;
  font-size: 18px;
}

.main-icon, .sub-icon {
	float: right;
  padding-right: 20px;
  color: #1d2120;
}

.main-icon {
	padding-top: 20px;
}

.sub-icon {
  padding-top: 10px;
}

.sub-icon-two {
	padding-left: 10px;
}