// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* POST SHOW */

td#p-u-photo {
  width: 13%;
  padding-top: 15px; 
  padding-left: 8px;
}

.img-circular {
  width: 90px;
  height: 120px;
  background-size: cover;
  display: block;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

p#post {
  font-family: 'Basic';
  font-size: 16px;
  font-weight: 20;
  padding-left: 10px;
}

h3#post {
  font-family: 'Basic';
  font-weight: 150;
  font-size: 20px;
  padding-left: 13px;
}

#data-post {
  text-align: right;
  font-size: 16px;
  font-weight: 50;
}

td#aaa {
  padding-left: 2%;
}

.add_comment, .add_comment:hover {
  text-align: right;
  font-size: 16px;
  font-weight: 150;
  color: #1d2120;
}
