// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.login {
	background: #332b33;
	width: 22%;
	border-radius: 8px;
	padding: 14px;
	font-family: Arial;
	color: white;
	margin: auto;
	margin-top: 200px;

}

.btn-session {
	display: inline;
	-webkit-border-radius: 12;
	-moz-border-radius: 12;
	border-radius: 8px;
	font-family: Arial;
	color: #ffffff;
	font-size: 18px;
	background: #332b33;
	padding: 10px 15px, 10px 15px;
	text-decoration: none;
	text-align: center;
	width: 20%;
}
