<div class="container">
	<% @categories.each do |c| %>
	<table border="1" width="100%" style="padding: 10px;">
		<tr>
			<td colspan="5"><br><br><h1 class="categories"><%= c.genre%></h1><hr></td>
		</tr>
		<tr>
			<td><h1>IMAGE</h1></td>
			<td><h1>IMAGE</h1></td>
			<td><h1>IMAGE</h1></td>
			<td><h1>IMAGE</h1></td>
			<td><h1>IMAGE</h1></td>
		</tr>
	</table>
	<% end %>
	<br>
</div>